header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
}

.site-nav,
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav__link,
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-text-color;

  transition: $duration $cubic, fill $duration $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: auto;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    @include centeredFlex;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 12px;
  }
  color: $primary-text-color;
  fill: $primary-text-color;
}

.contacts__icon {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.nav__link--current {
  color: $accent-color;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";

    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
  }
}
