
// mobile first//
.main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }